*{
    padding: 0;
    margin: 0;
}

nav{
    padding: 1% 0;
    border-top: solid 1px;
    border-bottom: solid 1px;
}

header{
    border-bottom: solid 1px;
    contain: content;
}

header img{
    width: 20%;
    margin: 1%;
    border-radius: 100%;
    float: left;
}

header article{
    padding: 7% 1.5%;
    line-height: 2.35rem;
    display: inline-block;
    vertical-align: middle;
}

ul{
    padding-left: 2%;
}

ul li{
    margin: 0.5%;
    line-height: 1.3rem;
}

h1{
    font-size: 2rem;
}

h3{
    font-size: 1.2rem;
    margin: 1%;
}

p{
    text-align: justify;
}

section{
    clear: left;
    border-bottom: solid 1px;
}

footer{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    padding: 3%;
    border-bottom: solid 1px;
}

.grid{
    display: inline-grid;
    grid-template-columns: repeat(2,auto);
    text-align: center;
}

.grid div{
    margin: 10px;
}

.th{
    font-weight: bold;
}

input[type="submit"]{
    min-width: 45px;
    min-height: 16px;
    width: 100%;
    background-color: dodgerblue;
    color: white;
    border-radius: 30%;
}

input[type="submit"]:hover{
    background-color: gray;
}

#container{
    margin: 0.5%;
}